@import "./variables.scss";

// single post list entrance
.post-list-item {
    margin-bottom: $spacing-8;
    margin-top: $spacing-8;
    p {
        margin-bottom: $spacing-0;
    }
    h2 {
        font-size: $fontSize-4;
        color: $color-primary;
        margin-bottom: $spacing-2;
        margin-top: $spacing-0;
    }
    header {
        margin-bottom: $spacing-4;
    }
}

// Prev and next page indicator
.blog-post-nav ul {
    margin: $spacing-0;
}
